<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio Of Sameer-kataria</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="pict.jpeg">

</head>

<body>
    <div id="wrapper">
        <div class="container">

            <nav>
                <!-- logo -->
                <div class="logo-container">
                    <img src="./images/userAsset/NavLogo.jpg" alt="" class="logo">
                    <div class="logo-text"></div>
                </div>
                <!-- Links -->
                <div class="nav-items">
                    <a href="#projects">Projects</a>
                    <a href="#skill_stack">Skills</a>
                    <a href="#contactme">Contact Me</a>
                </div>
            </nav>

            <div class="HeroSection container">
                <div class="name">Sameer kataria</div>
                <!-- left -->
                <div class="hero">
                    <h1 class="HeroHeading">Hi all, I'm Sameer Kataria👋</h1>
                    <p class="SubHeading">I am a <span class="role"> </span></p>
                    <p class="HeroPara">I’m a software developer and here is my portfolio website. Here you’ll learn
                        about my journey as a web developer.</p>
                    <button class="but">Hire Me</button>
                </div>

                <!--right  -->
                <div class="hero-section-right">
                    <div class="absolute icons icon-dots">
                        <img src="./portfolio-website second/images/userAsset/dots.png" alt="">
                    </div>
                    <div class="absolute icons icon-cube">
                        <img src="./portfolio-website second/images/userAsset/cube.png" alt="">
                    </div>
                    <div class="absolute icons icon-circle">
                        <img src="./portfolio-website second/images/userAsset/circle.png" alt="">
                    </div>
                    <div class="absolute icons icon-zigzags">
                        <img src="./portfolio-website second/images/userAsset/zigzags.png" alt="">
                    </div>
                    <div class="absolute icons icon-plus">
                        <img src="./portfolio-website second/images/userAsset/plus.png" alt="">
                    </div>
                    <div class="user-image">
                        <img src="https://media.licdn.com/dms/image/D4D03AQFHzKbzGxQiaQ/profile-displayphoto-shrink_400_400/0/1669195774316?e=1703116800&v=beta&t=imLir_HzoAxVcxTUOprQhp-JAV-RFKIum4cCtWp7W9M"
                            alt="" height="390px" width="390px">
                    </div>
                </div>

            </div>

        </div>

        <!--PROJECT SECTION  -->
        <div class="project_section">

            <h2 class="projectheader" id="projects">Projects</h2>
            <div class="project_container">

                <div class="project_card" id="project1">
                    <div class="project_number project-number-right">01</div>
                    <div class="project_content">
                        <div class="project_skill_container">

                            <img class="project-skill" src="./portfolio-website second/images/stack/HTML.png" alt="" />
                            <img class="project-skill" src="./portfolio-website second/images/stack/CSS.png" alt="" />
                            <img class="project-skill" src="./portfolio-website second/images/stack/Javascript.svg"
                                alt="" />
                            <img class="project-skill" src="./portfolio-website second/images/stack/Express.png"
                                alt="" />
                            <img class="project-skill" src="./portfolio-website second/images/stack/NextJsCircle.png"
                                alt="" />
                            <img class="project-skill" src="./portfolio-website second/images/stack/Tailwind.png"
                                alt="" />
                            <img class="project-skill" src="./portfolio-website second/images/stack/NodeJs.svg"
                                alt="" />
                            <img class="project-skill" src="./portfolio-website second/images/stack/MongoDB.svg"
                                alt="" />
                            <img class="project-skill" src="./portfolio-website second/images/stack/Redux.svg" alt="" />
                            <img class="project-skill" src="./portfolio-website second/images/stack/Vercel.svg"
                                alt="" />
                        </div>

                        <h2 class="project-heading">CodeGeek</h2>
                        <div class="project_subheading">It is a one-stop platform to learn & compete using MERN stack.
                            Created portal to bookmark questions from various platforms into one.It offers comparison of
                            ratings of particular platform like Leetcode,Codechef and Codeforces.
                            Scope: Development of chatbot to discuss live with peers.
                        </div>

                        <div class="btn-group">
                            <button class="but">Read More</button>
                            <!-- icons -->

                            <a href="#">
                                <i title="GitHubLink" class="fa-brands fa-github icon"></i>
                            </a>
                            <a href="#">
                                <i title="Live Link" class="fa-solid fa-link icon"></i>
                            </a>

                        </div>
                    </div>
                </div>
                <!-- CARD 1 END -->
                <!-- CARD 2 START -->
                <div class="project_card" id="project2">
                    <div class="project_number project-number-right">02</div>
                    <div class="project_content">
                        <div class="project_skill_container">
                            <img class="project-skill" src="./portfolio-website second/images/stack/HTML.png" alt="" />
                            <img class="project-skill" src="./portfolio-website second/images/stack/CSS.png" alt="" />
                            <img class="project-skill" src="./portfolio-website second/images/stack/Javascript.svg"
                                alt="" />
                            <img class="project-skill" src="./portfolio-website second/images/stack/Express.png"
                                alt="" />
                            <img class="project-skill" src="./portfolio-website second/images/stack/NextJsCircle.png"
                                alt="" />
                            <img class="project-skill" src="./portfolio-website second/images/stack/Tailwind.png"
                                alt="" />
                            <img class="project-skill" src="./portfolio-website second/images/stack/NodeJs.svg"
                                alt="" />
                            <img class="project-skill" src="./portfolio-website second/images/stack/MongoDB.svg"
                                alt="" />
                            <img class="project-skill" src="./portfolio-website second/images/stack/Redux.svg" alt="" />
                            <img class="project-skill" src="./portfolio-website second/images/stack/Vercel.svg"
                                alt="" />
                        </div>

                        <h2 class="project-heading">Yogdan</h2>
                        <div class="project_subheading">Participated in Hackathon & created one stop platform for
                            interaction between communities & societies.
                        </div>
                        <div class="btn-group">
                            <button class="but">Read More</button>
                            <!-- icons -->

                            <a href="#">
                                <i title="GitHubLink" class="fa-brands fa-github icon"></i>
                            </a>
                            <a href="#">
                                <i title="Live Link" class="fa-solid fa-link icon"></i>
                            </a>

                        </div>
                    </div>
                </div>
                <!-- CARD 2 END -->
                <!-- CARD-3 START -->
                <div class="project_card" id="project3">
                    <div class="project_number project-number-right">03</div>
                    <div class="project_content">
                        <div class="project_skill_container">
                            <img class="project-skill" src="./portfolio-website second/images/stack/HTML.png" alt="" />
                            <img class="project-skill" src="./portfolio-website second/images/stack/CSS.png" alt="" />
                            <img class="project-skill" src="./portfolio-website second/images/stack/Javascript.svg"
                                alt="" />
                            <img class="project-skill" src="./portfolio-website second/images/stack/Express.png"
                                alt="" />
                            <img class="project-skill" src="./portfolio-website second/images/stack/NextJsCircle.png"
                                alt="" />
                            <img class="project-skill" src="./portfolio-website second/images/stack/Tailwind.png"
                                alt="" />
                            <img class="project-skill" src="./portfolio-website second/images/stack/NodeJs.svg"
                                alt="" />
                            <img class="project-skill" src="./portfolio-website second/images/stack/MongoDB.svg"
                                alt="" />
                            <img class="project-skill" src="./portfolio-website second/images/stack/Redux.svg" alt="" />
                            <img class="project-skill" src="./portfolio-website second/images/stack/Vercel.svg"
                                alt="" />
                        </div>
                        <h2 class="project-heading">Razor Pay Clone</h2>
                        <div class="project_subheading">Cloned Razorpay using Tailwind.
                        </div>
                        <div class="btn-group">
                            <button class="but">Read More</button>
                            <!-- icons -->

                            <a href="#">
                                <i title="GitHubLink" class="fa-brands fa-github icon"></i>
                            </a>
                            <a href="#">
                                <i title="Live Link" class="fa-solid fa-link icon"></i>
                            </a>

                        </div>
                    </div>
                </div>
                <!-- CARD 3 END -->
                <!-- CARD 4 START -->
                <!-- CARD 4 -->
                <div class="project_card" id="project4">
                    <div class="project_number project-number-right">04</div>
                    <div class="project_content">
                        <div class="project_skill_container">
                            <img class="project-skill" src="./portfolio-website second/images/stack/HTML.png" alt="" />
                            <img class="project-skill" src="./portfolio-website second/images/stack/CSS.png" alt="" />
                            <img class="project-skill" src="./portfolio-website second/images/stack/Javascript.svg"
                                alt="" />
                            <img class="project-skill" src="./portfolio-website second/images/stack/Express.png"
                                alt="" />
                            <img class="project-skill" src="./portfolio-website second/images/stack/NextJsCircle.png"
                                alt="" />
                            <img class="project-skill" src="./portfolio-website second/images/stack/Tailwind.png"
                                alt="" />
                            <img class="project-skill" src="./portfolio-website second/images/stack/NodeJs.svg"
                                alt="" />
                            <img class="project-skill" src="./portfolio-website second/images/stack/MongoDB.svg"
                                alt="" />
                            <img class="project-skill" src="./portfolio-website second/images/stack/Redux.svg" alt="" />
                            <img class="project-skill" src="./portfolio-website second/images/stack/Vercel.svg"
                                alt="" />
                        </div>
                        <h2 class="project-heading">Snake Mania Game</h2>
                        <div class="project_subheading">Created using HTML, CSS, and JavaScript.
                        </div>
                        <div class="btn-group">
                            <button class="but">Read More</button>
                            <!-- icons -->

                            <a href="#">
                                <i title="GitHubLink" class="fa-brands fa-github icon"></i>
                            </a>
                            <a href="#">
                                <i title="Live Link" class="fa-solid fa-link icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="SkillContainer">
            <h1 class="skill-fade-text">Skills</h1>
            <div class="leftSkill">

                <h1 id="skill_stack">Me and </h1>
                <div style="color: #e84949;
                font-size :39px;
                font-style: bold;"> MyTech Stack</div>

                <div class="skillheading">
                    <p>
                        Hi Everyone My name is Sameer Kataria I am a passionate and motivated full-stack web developer
                        currently pursuing my B.Tech in the third year at Maharaja Agrasen Institute of Technology in
                        Rohini, Delhi. While I may be a relative newcomer compared to some, I bring a fresh perspective
                        and a hunger to learn and grow in the ever-evolving world of web development. My journey in the
                        field has been marked by a commitment to expanding my skill set and gaining valuable experience.
                        I am dedicated to honing my abilities and contributing my best to the development community, and
                        I am excited about the opportunities and challenges that lie ahead as I continue to develop my
                        expertise in this field.
                    </p>

                    <p>
                        With a Diploma in Computer Engineering and an ongoing pursuit of a degree in Computer Science &
                        Engineering, I possess a distinguished academic record. The skill set include a proficiency in
                        programming languages such as C and C++, and an understanding of Data Structures and Algorithms.
                        Furthermore, I have gained extensive knowledge of Computer Networking and languages such as
                        HTML, CSS & JavaScript. .
                    </p>

                    <p>

                        In addition to my web development journey, I am also passionate about reading quotes, which
                        often inspire my work and life. Furthermore, I've had the opportunity to hone my leadership
                        skills during my tenure as a House Captain at Rigveda International School, Tohana. Beyond my
                        academic pursuits, I dedicate my time to attending workshops, webinars, and specialization
                        courses online, driven by a strong desire for continuous personal and professional growth. I
                        firmly believe in constantly expanding my knowledge and skills and never losing momentum. And
                        when I'm not immersed in coding or learning, you can often find me strumming the guitar, as I
                        enjoy creating music in my spare time.
                    </p>
                </div>
            </div>
            <div class="RightSkill">
                <img src="https://res.cloudinary.com/dzqkgsyuy/image/upload/v1697833966/samples/PORTFOLIO%20WEBSITE/qpuosomg2gf6n6oi0mof.png"
                    alt="html5" class="skills-logo" />
                <img src="https://res.cloudinary.com/dzqkgsyuy/image/upload/v1697834054/samples/PORTFOLIO%20WEBSITE/bnh2fdmmdoautz7src9t.png"
                    alt="CSS" class="skills-logo" />
                <img src="https://res.cloudinary.com/dzqkgsyuy/image/upload/v1697834055/samples/PORTFOLIO%20WEBSITE/klhl0lzj60tmukbc7yyc.svg"
                    alt="JavaScript" class="skills-logo" />
                <img src="https://res.cloudinary.com/dzqkgsyuy/image/upload/v1697834053/samples/PORTFOLIO%20WEBSITE/acqob1ch1ci3oteumdyi.svg"
                    alt="NodeJs" class="skills-logo" />
                <img src="https://res.cloudinary.com/dzqkgsyuy/image/upload/v1697834054/samples/PORTFOLIO%20WEBSITE/wlvok5njcdhjluyvmzjw.svg"
                    alt="Bootstrap" class="skills-logo" />
                <img src="https://res.cloudinary.com/dzqkgsyuy/image/upload/v1697834054/samples/PORTFOLIO%20WEBSITE/txn9l8j1i6z2d8aminln.png"
                    alt="Express" class="skills-logo" />
                <img src="https://res.cloudinary.com/dzqkgsyuy/image/upload/v1697834054/samples/PORTFOLIO%20WEBSITE/zymiutwxwkir4aflfwig.svg"
                    alt="Git" class="skills-logo" />
                <img src="https://res.cloudinary.com/dzqkgsyuy/image/upload/v1697834054/samples/PORTFOLIO%20WEBSITE/yz23u3b48dguhphzlogo.svg"
                    alt="Github" class="skills-logo" />
                <img src="https://res.cloudinary.com/dzqkgsyuy/image/upload/v1697834055/samples/PORTFOLIO%20WEBSITE/sh55ksryx2w80vi61sa0.svg"
                    alt="MongoDB" class="skills-logo" />
                <img src="https://res.cloudinary.com/dzqkgsyuy/image/upload/v1697837432/samples/PORTFOLIO%20WEBSITE/ovrp8mo29bujpzoxkwnb.png"
                    alt="MySQL" class="skills-logo" />


            </div>
        </div>
        <!-- Contact Details section -->
        <div class="contactus-form-container" id="contactme">
            <div class="container">

                <h1 class="contactus-heading">Contact me</h1>

                <h3 class="contactus-sub-heading">
                    Questions, thoughts, or just want to say hello?
                </h3>


                <div class="contactus-form-container">

                    <form class="form" action="/" method="POST">
                        <div class="formfield-container">
                            <input class="formfield" type="text" name="name" id="" placeholder="Enter your name" />

                            <input class="formfield" type="email" name="email" id=""
                                placeholder="Enter your email address" />

                            <input class="formfield" type="text" name="subject" id=""
                                placeholder="Enter your subject" />

                            <textarea name="message" id="" cols="30" rows="10" class="formfield formfield-textarea"
                                placeholder="Enter your message"></textarea>

                        </div>

                        <div>
                            <button type="submit" class="but" id="submit-btn">
                                Send Message<i class="submit-icon fa-solid fa-paper-plane"></i>
                            </button>
                        </div>

                    </form>


                </div>
            </div>

        </div>
        <!-- FOOTER -->
        <footer>
            <div class="link-wrapper">
                <div>
                    <a href="#projects">Projects</a>
                </div>
                <div>
                    <a href="#skill_stack">Skills</a>
                </div>
                <div>
                    <a href="#contactme">Contact Me</a>
                </div>
            </div>

            <div class="icon-wrapper">
                <a href="https://www.linkedin.com/in/sameer-kataria-12aa9b228/" target="_blank"> <i
                        class="fa-brands fa-linkedin icon"></i></a>
                <a href="https://github.com/SamBinary2000" target="_blank"><i class="fa-brands fa-github icon"></i></a>
                <!-- <a href="https://twitter.com/SameerGROVER20" target="_blank"> <i
                        class="fa-brands fa-twitter icon"></i></a> -->
                <a href="https://www.instagram.com/__.s.a.m.e.e.r.__/"> <i class="fa-brands fa-instagram icon"></i></a>
                <!-- <a href="https://mail.google.com/mail/u/0/#inbox" target="_blank"> <i
                        class="fa-regular fa-envelope icon"></i></a> -->
            </div>
            <div class="footer-faded-text">Sameer Kataria</div>

        </footer>
        <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
        <script src="https://kit.fontawesome.com/58a810656e.js" crossorigin="anonymous"></script>
        <script>
            var typed = new Typed('.role', {
                strings: ['Front-End Developer', 'Coder'],
                typeSpeed: 70,
                loop: true,
                backSpeed: 10
            });
        </script>
</body>

</html>